<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}" crossorigin="anonymous">
</head>
 
<body style="background-image: url('{% static 'core/img/perro3.jpg' %}');">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#6DCCAA;">
  <a class="navbar-brand" href="#"> <img  style="width:80%;" src="{% static 'core/img/logo.png' %}">             </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span  style="padding-rigth:0px;"class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul style="margin-left:8%; "class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/" style="color:white;">Inicio<span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" style="color:white;" >Quienes Somos</a>
        
      </li>
      {% if request.user.is_staff == True %}
      <li class="nav-item">
        <a class="nav-link" href="administrar" style="color:white;" >Administrar</a>
      </li>
      {% endif %}
       <li class="nav-item">
        <a class="nav-link" href="perros" style="color:white;" >Adoptar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color:white;" >Contactos</a>
      </li>
      
      <li class="nav-item">
      <a class="nav-link" href="salir" style="color:white;" >Salir</a>

      
      
      </li>
    </ul>
    
  </div>
</nav>
    <div class="container-fluid">
    {% load static %}
{{MEDIA_URL}}
<form  method="POST" style="margin-top:2%;" enctype="multipart/form-data"  >
<img src="../media/{{perri.imagenPerro}}"  style="width:220px; height:220px;" alt="..." class="img-thumbnail">
{% csrf_token %}
  <div style="margin-top:20px;" class="form-group row">

    <label for="txtNombrePerro" style="color:white;" class="col-sm-2 col-form-label">Nombre Perro</label>

    <div class="col-sm-10">

      <input type="text" class="form-control" disabled value="{{perri.nombrePerro}}" id="txtNombrePerro" requiered name="txtNombrePerro" placeholder="Nombre" required>

    </div>

  </div>

  <div class="form-group row">

    <label for="txtDescripcion"  style="color:white;" class="col-sm-2 col-form-label">Descripcion</label>

    <div class="col-sm-10">

      <textarea type="text" class="form-control" disabled name="txtDescripcion" requiered  max-length="30" id="txtDescripcion" placeholder="" required>{{perri.descripcion}}</textarea>

    </div>

  </div>
   <div class="form-group row">

    <label for="cboRaza" style="color:white;" class="col-sm-2 col-form-label">Raza Predominante</label>

    <div class="col-sm-10">

     <input type="text" class="form-control" disabled value="{{perri.idRaza.descripcion}}" id="cboRaza" requiered name="txtNombrePerro" placeholder="Nombre" required>

    </div>

  </div>

  <div class="form-group row">

    <label for="cboEstado" style="color:white;" class="col-sm-2 col-form-label">Estado</label>

    <div class="col-sm-10">

         <input type="text" class="form-control" disabled value="{{perri.idEstado.descripcion}}" id="cboEstado" requiered name="txtNombrePerro" placeholder="Nombre" required>



    </select>
    </div>

  </div>


    </div>

  </div>
 

  <div class="form-group row">
{% if adoptado %}
<script>alert("Adopcion realizada correctamente")</script>
{% endif %}
   
    {% if perri.idEstado.name == 1 %}
<input style="width:100%"  type="submit" value="Adoptar" class="btn btn-primary btn-lg btn-block"/>
{% endif %}
    <input  name="oculto2" style="height: 0px; width:0px;   visibility:hidden" value="{{perri.name}}" />


  </div>

</form>
    </div>



    
</body>
</html>